:root {
    --theme: #280; /* CSS variable */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

h1 {
    font-family: "Arial";
    color: var(--theme);
}

#map {
    width: 100%;
}

#marker {
    width: 3vw;
    height: 3vw;
    background-color: black;
    border-radius: 50%;
    outline: 5px solid var(--theme);
    border: 5px solid white;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

#mapContainer {
    position: relative;
    display: none;
}

#camera {
    width: 100%;
}

/* QR scanner box styling */
.html5-qrcode-square {
    border: 3px solid green !important;  /* green scan box border */
    border-radius: 6px;                  /* optional rounded corners */
}

.html5-qrcode-viewfinder__canvas {
    outline: 2px solid green !important; /* optional green outline around camera */
}
