:root {
    --theme: #280; /* CSS variable */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

h1 {
    font-family: "Arial";
    color: var(--theme);
}

#map {
    width: 100%;
}

#marker {
    width: 3vw; /* 3% of the viewport width */
    height: 3vw;
    background-color: black;
    border-radius: 50%;
    outline: 5px solid var(--theme); /* does not affect the size */
    border: 5px solid white; /* affects the size */
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

#mapContainer {
    position: relative;
    display: none;
}

#camera {
    width: 100%;
}
:root {
  /* Define your dark green variable here */
  --main-bg-color: #004d40; 
}
button {
  background-color: var(--main-bg-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
button:hover {
  cursor: pointer;           /* Requirement: Changes the mouse icon */
  filter: brightness(1.2);   /* Makes the button slightly lighter */
  transform: translateY(-2px); /* Makes the button "pop" up slightly */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

